.show-modal-menu {
  text-align: center;
}

.show-modal-btn {
  font-size: 1.35rem;
}

.modal {
  margin: auto;
  width: 500px;

  border-color: dimgrey;
  border-radius: 0.5em;
}

.modal button {
  font-weight: bold;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

/*
.modal-header > button {
  background-color: firebrick;
}

.modal-header > button:hover {
  background-color: crimson;
}
