.post {
  display: flex;
  flex-direction: column;

  border: 1px solid dimgrey;
  border-radius: 0.75rem;
  font-size: 0.95rem;

  margin-bottom: 1rem;
  transition: background-color 100ms;

  overflow: hidden;
}

.post:target {
  border-color: goldenrod;
}

.post:nth-child(1) {
  border-color: darkgoldenrod;
}

.post-info {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;

  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 0.75rem 0.75rem 0 0;

  padding: 0.15rem 0.5rem;
}

.post-info-name {
  color: mediumseagreen;
  font-weight: bold;
}

.post-info-date {
  opacity: 0.5;
}

.post-info-backlink {
  margin-left: auto;
}

.post-info-backlink-circle {
  display: inline-block;
  aspect-ratio: 1 / 1;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid deepskyblue;
  cursor: pointer;
}

.post-info-backlink-circle:hover {
  background-color: deepskyblue;
}

.post-info-backlink > * {
  font-size: 0.75rem;
  margin-left: 0.35em;
}

.post-message {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
}

.post-message:hover {
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 0 0 0.75rem 0.75rem;
}

.post-message img {
  max-height: 70vh;
  object-fit: contain;
}

.post-message-img {
  cursor: pointer;
  align-self: flex-start;
}

.post-message-full {
  flex-direction: column;
}

.post-message-full .post-message-img {
  align-self: center;
}

.post-message-reply {
  align-self: flex-start;
}

.post-message-reply .quote {
  color: lightcoral;
}

.post-message-reply .quotelink {
  color: deepskyblue;
  text-decoration: none;
}

.post-message-reply .quotelink:hover {
  filter: brightness(1.25);
}

.prettyprint {
  /*background-color: #222;*/
  color: lawngreen;

  padding: 0.25rem;
  border: 2px solid darkslategray;
  border-radius: 0.25rem;
  max-width: 600px;

  overflow-x: auto;
  cursor: text;
}
