.thread-card {
  text-align: center;
  max-height: 410px;

  overflow: hidden;
}

.thread-card h4,
.thread-card p {
  line-height: 1.1;
}

.thread-card-title {
  margin-bottom: 0.5rem;
}

.thread-card-commentary {
  font-size: 0.9rem;
}

.thread-card-thumb {
  display: flex;
  place-content: center;
}

.thread-card-status {
  font-size: 0.9rem;
}
